





.mensagem-renato{
position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.581);
    color: #ffffff;
    padding: 8px 16px;
    font-size: 2.2em;
    width: 90vw; 
    max-width: 1200px;
    min-height: 80px;
    box-sizing: border-box;
    text-align: left;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 24px;
    visibility: hidden;
	
}
.mensagem-renato.mostrar {
	visibility: visible;
	animation: fadeIn 0.3s;
			}
            

.mensagem-claudio  {
	position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.581);
    color: #ffffff;
    padding: 8px 16px;
    font-size: 2.2em;
    width: 90vw; 
    max-width: 1200px;
    min-height: 80px;
    box-sizing: border-box;
    text-align: left;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 24px;
    visibility: hidden;
	
}
.mensagem-claudio.mostrar {
	visibility: visible;
	animation: fadeIn 0.3s;
            }


.mensagem-vitor{
	position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.581);
    color: #ffffff;
    padding: 8px 16px;
    font-size: 2.2em;
    width: 90vw; 
    max-width: 1200px;
    min-height: 80px;
    box-sizing: border-box;
    text-align: left;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 24px;
    visibility: hidden;
	
}
.mensagem-vitor.mostrar {
	visibility: visible;
	animation: fadeIn 0.3s;
            }


.mensagem-celso{
	position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.581);
    color: #ffffff;
    padding: 8px 16px;
    font-size: 2.2em;
    width: 90vw; 
    max-width: 1200px;
    min-height: 80px;
    box-sizing: border-box;
    text-align: left;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 24px;
    visibility: hidden;
}
.mensagem-celso.mostrar {
	visibility: visible;
	animation: fadeIn 0.3s;
            }


.mensagem-juliana{
	position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.581);
    color: #ffffff;
    padding: 8px 16px;
    font-size: 2.2em;
    width: 90vw; 
    max-width: 1200px;
    min-height: 80px;
    box-sizing: border-box;
    text-align: left;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 24px;
    visibility: hidden;
}
.mensagem-juliana.mostrar {
	visibility: visible;
	animation: fadeIn 0.3s;
            }


.mensagem-livro-misterio {
    position: fixed;
    left: 50%;
    top: 30px;  /* controla a distância da borda inferior */
    transform: translateX(-50%);
    
    background: rgba(0, 0, 0, 0.581);
    color: #ffffff;
    padding: 8px 16px;
    font-size: 2.2em;
    width: 90vw;
    max-width: 1200px;
    min-height: 80px;
    box-sizing: border-box;
    text-align: left;
    
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 24px;
    
    visibility: hidden;
}
.mensagem-livro-misterio.mostrar {
    visibility: visible;
    animation: fadeIn 0.3s;
}


.mensagem-secreta {
	position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.581);
    color: #ffffff;
    padding: 8px 16px;
    font-size: 2.2em;
    width: 90vw; 
    max-width: 1200px;
    min-height: 80px;
    box-sizing: border-box;
    text-align: left;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 24px;
    visibility: hidden;
}
.mensagem-secreta.mostrar {
	visibility: visible;
	animation: fadeIn 0.3s;
}


.mensagem-fabio{
	position: fixed;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.581);
    color: #ffffff;
    padding: 8px 16px;
    font-size: 2.2em;
    width: 90vw; 
    max-width: 1200px;
    min-height: 80px;
    box-sizing: border-box;
    text-align: left;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 24px;
    visibility: hidden;
    margin-bottom: 600px;
}
.mensagem-fabio.mostrar {
	visibility: visible;
	animation: fadeIn 0.3s;
            }




@keyframes fadeIn {
	from { opacity: 0; transform: translateX(-50%) translateY(20px); }
	to { opacity: 1; transform: translateX(-50%) translateY(0); }
}

@media (max-width: 1200px) {
	 .mensagem{
    font-size: 1em;
    width: 100%; 
    max-width: 100%;
    min-height: 48px;
    padding: 4px 1vw;
    gap: 6px;
    box-sizing: border-box;
 }
}


/* //////////////////////////// */


.msg-avatar, .msg-avatar1, .msg-avatar2, .msg-avatar3, .msg-avatar4, .msg-avatar-misterio {
		width: 36px;
		height: 36px;
}			

.msg-text {
	display: flex;
	align-items: center;
	text-align: left;
	flex: 1;
    flex-wrap: wrap; 
}

	


/*Renato*/
    .msg-avatar {
        width: 130px;
        height: 130px;
        background: #fcfcfc6c;
        flex-shrink: 0;
        background-image: url('img/Renato.png');
        background-size: cover;
        background-position: center;
        display: inline-block;
        margin-left: 0;
        margin-right: 24px;
    }
    
/*Cláudio*/
    .msg-avatar1{
        width: 130px;
        height: 130px;
        background: #fcfcfc6c;
        flex-shrink: 0;
        background-image: url('img/claudio.png');
        background-size: cover;
        background-position: center;
        display: inline-block;
        margin-left: 0;
        margin-right: 24px;
    }
    
/*Protagonista*/
    .msg-avatar2{
            width: 130px;
        height: 130px;
        background: #fcfcfc6c;
        flex-shrink: 0;
        background-image: url('img/protagonista.png');
        background-size: cover;
        background-position: center;
        display: inline-block;
        margin-left: 0;
        margin-right: 24px;
    }

/*Celso*/
    .msg-avatar3{
        width: 130px;
        height: 130px;
        background: #fcfcfc6c;
        flex-shrink: 0;
        background-image: url('img/Celso.png');
        background-size: cover;
        background-position: center;
        display: inline-block;
        margin-left: 0;
        margin-right: 24px;
    }

/*Juliana*/
    .msg-avatar4{
        width: 130px;
        height: 130px;
        background: #fcfcfc6c;
        flex-shrink: 0;
        background-image: url('img/juliana.png');
        background-size: cover;
        background-position: center;
        display: inline-block;
        margin-left: 0;
        margin-right: 24px;
    }

/*livro-misterio*/
    .msg-avatar-misterio{
        width: 130px;
        height: 130px;
        background: #fcfcfc00;
        flex-shrink: 0;
        background-image: url('img/livro-qr.png');
        background-size: cover;
        background-position: center;
        display: inline-block;
        margin-left: 0;
        margin-right: 24px;
    }

/*livro-misterio*/
    .msg-avatar-celso{
        width: 130px;
        height: 130px;
        background: #fcfcfc00;
        flex-shrink: 0;
        background-image: url('img/livro-celso.png');
        background-size: cover;
        background-position: center;
        display: inline-block;
        margin-left: 0;
        margin-right: 24px;
    }

/*Fabio*/
    .msg-avatar5{
        width: 130px;
        height: 130px;
        background: #fcfcfc00;
        flex-shrink: 0;
        background-image: url('img/Fabio.png');
        background-size: cover;
        background-position: center;
        display: inline-block;
        margin-left: 0;
        margin-right: 24px;
    }