.mensagem {
	position: fixed;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	background: rgba(182, 55, 55, 0.581);
	color: #ffffff;
	padding: 8px 16px;
	font-size: 2.2em;
	min-width: 1220px;
	max-width: 95vw;
	width: auto;
	min-height: 80px;
	box-sizing: border-box;
	text-align: left;
	z-index: 100;
	display: flex;
	align-items: center;
	gap: 24px;
	visibility: hidden;
	
}
			
.msg-text {
	display: flex;
	align-items: center;
	text-align: left;
	flex: 1;
}
.mensagem.mostrar {
	visibility: visible;
	animation: fadeIn 0.3s;
			}
			
			
			
			







@keyframes fadeIn {
		from { opacity: 0; transform: translateX(-50%) translateY(20px); }
		to { opacity: 1; transform: translateX(-50%) translateY(0); }
	}

		


@media (max-width: 1200px) {
	.mensagem {
		font-size: 1em;
		min-width: 0;
		max-width: 99vw;
		min-height: 48px;
		padding: 4px 1vw;
		gap: 6px;
	}
	.msg-avatar, .msg-avatar1, .msg-avatar2 {
		width: 36px;
		height: 36px;
	}
}

			
			
			
			
			
			
			
			
		/*Renato*/
			.msg-avatar {
				width: 130px;
				height: 130px;
				background: #fcfcfc6c;
				flex-shrink: 0;
				background-image: url('img/Renato.png');
				background-size: cover;
				background-position: center;
				display: inline-block;
				margin-left: 0;
				margin-right: 24px;
			}
			
		/*Cláudio*/
			.msg-avatar1{
			    width: 130px;
				height: 130px;
				background: #fcfcfc6c;
				flex-shrink: 0;
				background-image: url('img/claudio.png');
				background-size: cover;
				background-position: center;
				display: inline-block;
				margin-left: 0;
				margin-right: 24px;
			}
			
		/*Protagonista*/
			.msg-avatar2{
					width: 130px;
				height: 130px;
				background: #fcfcfc6c;
				flex-shrink: 0;
				background-image: url('img/protagonista.png');
				background-size: cover;
				background-position: center;
				display: inline-block;
				margin-left: 0;
				margin-right: 24px;
			}
