.mensagem {
			position: fixed;
			left: 50%;
			bottom: 30px;
			transform: translateX(-50%);
			background:rgba(255, 255, 255, 0.85);
			color: #4b4b4b;
			padding: 8px 16px;
			border: 7px solid rgba(173, 75, 75, 1);
			
			font-size: 3em;
			min-width: 1300px;
                min-height: 100px;
				text-align: left;
				z-index: 100;
				display: flex;
				align-items: center;
				gap: 32px;
				visibility: hidden;
			}
			
			.msg-text {
				display: block;
				flex: 1;
				text-align: left;
			}
			.mensagem.mostrar {
				visibility: visible;
				animation: fadeIn 0.3s;
			}
			@keyframes fadeIn {
				from { opacity: 0; transform: translateX(-50%) translateY(20px); }
				to { opacity: 1; transform: translateX(-50%) translateY(0); }
			}
			
			
			
			
			.msg-avatar {
				width: 130px;
				height: 1300px;
				border: 3px solid #1eae60;
				background: #fff;
				flex-shrink: 0;
				background-image: url('img/renato.jpeg');
				background-size: cover;
				background-position: center;
				display: inline-block;
			}

			.msg-avatar1 {
				width: 130px;
				height: 130px;
				
				
				flex-shrink: 0;
				background-image: url('img/claudio.png.png');
				background-size: cover;
				background-position: center;
				
			}